# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=davronbek117
DB_NAME=dolce_db
DB_PORT=3306

# Server Configuration
SERVER_HOST=0.0.0.0
SERVER_PORT=8000
DEBUG=False

# Telegram Configuration
TELEGRAM_TOKEN=8359099168:AAGCJwfh5wyBXU1dAqO_A0IISGHsIF2v8VQ
TELEGRAM_CHAT_ID=-1003988355391
